@keyframes rotate {
	from {
		transform: rotateX(0deg);
	}

	to {
		transform: rotateX(180deg);
	}
}

.header {
	width: 1519px;
	height: 102px;
	background-color: rgba(61, 87, 180, 1);
	display: flex;
	align-items: center;
	z-index: 100;
}

.header__header-block {
	width: 1349px;
	height: 33px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto 0 auto;
}

.header__title {
	font-size: 28px;
	color: white;
}

.header__menu {
	width: 500px;
	height: 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	margin-left: 120px;
	color: white;
}

.header__registration-block {
	height: 33px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header__registration {
	color: white;
	font-size: 20px;
	margin: 0 28px 0 24px;
}

.header__link-signUp {
	margin-left: 33px;
}

.header__mobile-menu {
	display: none;
}

.active {
	animation: rotate 1s forwards;
}

.disactive {
	transform: rotateX(0deg)
}

@media screen and (min-width: 1519px) {
	.header {
		width: 100%;
	}
}


@media screen and (max-width: 400px) {

	.header {
		width: 100%;
		position: sticky;
		top: 0;
		padding-left: 15px;
		padding-right: 15px;
	}

	.header__header-block {
		width: 100%;
	}

	.header__menu,
	.header__registration-block {
		display: none;
	}

	.header__mobile-menu {
		display: block;
	}

}