.messageForm__body {
	width: 1373px;
	height: 600px;	
	margin: 37px auto 0 auto;
}

.messageForm__mainBlock {
	width: 1373px;
	height: 558px;
	background-color: rgba(38, 55, 81, 1);
	color: white;
	padding: 30px 60px 30px 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.messageForm__title {
	width: 486px;
	height: 72px;
	font-size: 30px;
	text-align: center;
}

.messageForm__flex {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.messageForm__block-left {
	width: 470px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.messageForm__label {
	width: 100%;
	height: 68px;
	font-size: 20px;
}

.messageForm__label span {
	color: red;
}

.messageForm__input {
	width: 100%;
	height: 44px;
	border-radius: 5px;
	font-size: 20px;
	caret-color: black;
	padding-left: 20px;
}

.messageForm__block-right {
	width: 676px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.messageForm__btn-send {
	width: 212px;
	height: 49px;
	background-color: rgba(61, 87, 180, 1);
	color: white;
	font-size: 20px;
	align-self: flex-end;
}

.messageForm__btn-send:hover {
	background-color: rgb(113, 126, 172);
}

.messageForm__moreInfo-label {
	height: 200px;
}

.messageForm__moreInfo-input {
	height: 190px;
	padding-top: 10px;
	resize: none;
}

.messageForm__cross-close {
	position: absolute;
	top: 35px;
	right: 35px;
}	

.messageForm__reqStatus-message {
	font-size: 20px;
}

.messageForm__message-Ok {
	color: green;
}

.messageForm__message-Err {
	color: red;
}

@media screen and (max-width: 1373px) {
	.messageForm__body {
		width: 100%;
		margin: 0;
		min-height: 100vh;
		max-height: auto;
	}

	.messageForm__mainBlock {
		width: 100%;
		min-height: 100vh;
		max-height: auto;
	}

	.messageForm__block-left {
		margin-right: 20px;
	}
}

@media screen and (max-width: 840px) {

	.messageForm__body {
		height: 1203px;	
	}

	.messageForm__mainBlock {
		padding: 80px 0 64px 0;
		height: 1203px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.messageForm__title {
		width: 100%;
	}

	.messageForm__flex {
		flex-direction: column;
		align-items: center;
		height: 1203px;
		margin-top: 21px;
	}

	.messageForm__block-left, .messageForm__block-right{
		margin: 0;
		width: 100%;
		align-items: center;
	}
	
	.messageForm__block-right {
		margin-top: 28px;
	}
}

@media screen and (max-width: 590px) {
	.messageForm__title {
		font-size: 20px;
	}
}

@media screen and (max-width: 426px) {

	.messageForm__moreInfo-label {
		height: 234px;
	}

	.messageForm__moreInfo-input  {
		height: 100%;
	}

	.messageForm__btn-send  {
		align-self: center;
	}

	.messageForm__cross-close {
		top: 15px;
		right: 15px;
	}

}