@keyframes btn-animation-hover {
	to {
		transform: scale(1.05);
	}
}

@keyframes btn-animation-click {
	to {
		transform: scale(.95)
	}
}


.messageWindow {
	width: 1373px;
	height: 558px;
	background-color: rgba(38, 55, 81, 1);
	margin: 37px auto 0 auto;
	padding: 34px 36px 34px 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.messageWindow-flex {
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 60px 60px 39px 60px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.messageWindow__message-block-left {
	width: 471px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.messageWindow__label {
	width: 100%;
	height: 68px;
	font-size: 20px;
}

.messageWindow__label span {
	color: red;
}

.messageWindow__input {
	width: 100%;
	height: 44px;
	background-color: rgba(217, 217, 217, 1);
	border-radius: 5px;
	padding-left: 20px;
	font-size: 20px;
}

.messageWindow__date-flex {
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.messageWindow__date-block {
	width: 100%;
	font-size: 15px;
}

.messageWindow__date {
	margin-left: 34px;
}

.messageWindow__message-block-right {
	width: 636px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.messageWindow__moreInfo-label {
	height: auto;
}

.messageWindow__moreInfo-input {
	height: 150px;
	resize: none;
	padding-top: 10px;
}

.messageWindow__decision-input {
	padding-top: 10px;
}

.messageWindow__dicision-label {
	height: auto;
}

.messageWindow__decision-input {
	height: 100px;
	resize: none;
}

.messageWindow__btn-flex {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
}

.messageWindow__btn {
	width: 200px;
	height: 60px;
	font-size: 20px;
	color: white;
}

.messageWindow__btn-edit,
.messageWindow__btn-save {
	background-color: rgba(49, 129, 173, 1);
}

.messageWindow__btn-finish {
	background-color: rgba(58, 171, 117, 1);
}

.messageWindow__cross-close {
	position: absolute;
	right: 30px;
	top: 30px;
}

.messageWindow__btn:hover {
	animation: btn-animation-hover .2s forwards;
}

.messageWindow__btn:active {
	animation: btn-animation-click .2s forwards;
}

.messageWindow__btn:disabled {
	opacity: .5;
	animation: none;
}

.activeInput {
	caret-color: black;
}

@media screen and (max-width: 400px) {
	.messageWindow {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}

	.messageWindow-flex {
		width: 100%;
		height: 1400px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		padding-top: 100px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.messageWindow__message-block-left,
	.messageWindow__message-block-right {
		width: 100%;

	}

	.messageWindow__message-block-left {
		height: 450px;
	}

	.messageWindow__message-block-right {
		height: 800px;
	}

	.messageWindow__moreInfo-input {
		height: 230px;

	}

	.messageWindow__date-flex {
		margin-bottom: 20px;
	}

	.messageWindow__date-block {
		order: 1;
		display: flex;
		justify-content: space-between;
	}

	.messageWindow__stealDate-input {
		width: 90px;
		background-color: white;
	}

	.messageWindow__label {
		order: 2;
	}

	.messageWindow__errorMessage {
		order: 3;
	}

	.messageWindow__btn-flex {
		height: 218px;
		order: 4;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 64px;
		margin-top: 30px;
		align-items: center;
	}

	.messageWindow__btn {
		width: 250px;
	}

	.messageWindow__cross-close {
		top: 15px;
		right: 15px;
	}

}